.app {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    font-family: sans-serif;
}
.components {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.component-1 {
    margin-right: 2rem;
    margin-bottom: 1rem;
}
h1 {
    color: #8297d1;
}
h2 {
    color: #8297d1;
    border-bottom: 1px solid #8297d1;
    padding: 20px 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.content {
    width: 80%;
    height: 350px;
    background-color: #fcfcfc;
    padding: 10px 40px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 10px;
    border: none;
}
.content input{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(233, 233, 233);
    width: 100%;
}
.content input::placeholder {
    color: #bbbbbb;
}
.content input:focus {
    outline: none;
    border: 1px solid #5950a8;
}
.content h4 {
    color: #8297d1;
}

.btns {
    margin: 10px;
    padding: 10px;
    border: 1px solid #5950a8;
    background-color: #fff;
    border-radius: 10px;
    text-transform: uppercase;
    color: #bbbbbb;
    cursor: pointer;
}
.btns:hover {
    background-color: #5950a8;
    transition: all .25s linear;
}
.btns:checked {
    background-color: #fff;
}
